.card {
  border: 1px solid white;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  box-shadow: 4px 4px white;
  text-align: center;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  translate: -4px -4px;
}

.card > h2{
  font-size: 32px;
  border-left: 4px solid blue;
  padding-left: 8px;
}

.card > img {
  border-radius: 16px;
}